body {
	background-color: aliceblue;
	color: white;
	font-size: 16px;
	border-radius: 5px;    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    background-color: white;
    color: #bde3e9;
    padding: 10px;
    width: 100vw;
}